{% extends "streamer/base.html" %}
{% load static %}


{% block title %}
About Us
{% endblock %}

{% block content %}

        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>About Us</h2>
                    <p>Get to know us</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Challange Area =================-->
        <section class="challange_area p_100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="challange_text_inner">
                            <div class="l_title">
                                <img src="{% static 'streamer/img/icon/title-icon.png' %}" alt="">
                                <h6>Discover the features</h6>
                                <h2>We don’t hide, we stand tall in front of challange</h2>
                            </div>
                            <p>Design for a professional website must be beautiful, intuitive and easy to use. But most importantly, it should attract more customers. If you are looking for quality website design services, then you are at the right place. We are an experienced graphic/web designer with a relentless urge to create effective websites. With my ability to stretch the boundaries of web design, I strive to deliver relevant content that helps to set your business apart from the competition.</p>
                            <div class="c_video">
                                <!-- <a class="popup-youtube" href="https://www.youtube.com/c/swtechie"><img src="img/icon/video-icon.png" alt="Video">See Our Channel </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 challange_img">
                        <div class="challange_img_inner">
                            <img class="img-fluid" src="{% static 'streamer/img/responsive.gif' %}" alt="Photo">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Challange Area =================-->
        
        <!--================Testimonials Slider Area =================-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="{% static 'streamer/images/Himal.png' %}" class="img-responsive" alt=""></figure>
                <!-- <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure> -->
              <h3><a href="#">Himal</a></h3>
              <p>Ethical Hacker & Full Stack Developer</p>
              <ul class="follow-us clearfix">
                <li><a href="https://www.instagram.com/comming_soon_official/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/himal9626"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://t.me/commingsoon9626"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
        </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="{% static 'streamer/images/harish.png' %}" class="img-responsive" alt=""></figure>
                <!-- <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure> -->
              <h3><a href="http://www.webcoderskull.com/">Harish Kumar</a></h3>
              <p>FullStack Developer & Python Programmer</p>
              <ul class="follow-us clearfix">
                <li><a href="https://www.instagram.com/cyberhunter.hk/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/CyberhunterH"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://t.me/thelonewolf123"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </li>

  
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="{% static 'streamer/images/nithish.png' %}" class="img-responsive" alt=""></figure>
            <!-- <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="http://www.webcoderskull.com/">Nithish</a></h3>
            <p>Designer & Cinimotographer<br>(Video Editor)</p>
            <ul class="follow-us clearfix">
                <li><a href="https://www.instagram.com/s_nithish_official/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/NITHISH1217"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://swhimal.blogspot.com/t.me/Cinemotographer"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="{% static 'streamer/images/subash.png' %}" class="img-responsive" alt=""></figure>
          <!-- <figure><img src="http://www.webcoderskull.com/img/team3.png" class="img-responsive" alt=""></figure> -->
          <h3><a href="http://www.webcoderskull.com/">Subash</a></h3>
          <p>Frontend Developer <br> Blogger & Designer</p>
          <ul class="follow-us clearfix">
            <li><a href="https://www.instagram.com/hacker_bose/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/SUBASHBOSE1999?s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://swhimal.blogspot.com/#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
     </li>

    </ul>
  </div>
</section>
        
        <!-- <section class="testimonials_area">
            <div class="container">
                <div class="testimonials_slider owl-carousel">
                    <div class="item">
                        <div class="testi_item">
                            <h3>“Simply professionals”</h3>
                            <p>We are never given a lot of hatred of the porch is a great effic iturut. Kids should am and earth afternoon. We are never given the hatred vestibul.Cras ex mauris, pretium sit amet ornare eget, dignissim et turpis. And now the biggest drop, or receives consumer. Unfortunately, the element will move from clinical antioxidants makeup. Or more for what it was. However, to laughter from the clinical need only pull valley. Pellentesque developer of peanut soccer leakage.</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Maria Smith</h4>
                                    <h5>CEO Enterprise</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <h3>“They are the best”</h3>
                            <p>We are never given a lot of hatred of the porch is a great effic iturut. Kids should am and earth afternoon. We are never given the hatred vestibul.Cras ex mauris, pretium sit amet ornare eget, dignissim et turpis. And now the biggest drop, or receives consumer. Unfortunately, the element will move from clinical antioxidants makeup. Or more for what it was. However, to laughter from the clinical need only pull valley. Pellentesque developer of peanut soccer leakage.</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-2.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Chriss Turner</h4>
                                    <h5>CEO Enterprise</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <h3>“We just love them”</h3>
                            <p>We are never given a lot of hatred of the porch is a great effic iturut. Kids should am and earth afternoon. We are never given the hatred vestibul.Cras ex mauris, pretium sit amet ornare eget, dignissim et turpis. And now the biggest drop, or receives consumer. Unfortunately, the element will move from clinical antioxidants makeup. Or more for what it was. However, to laughter from the clinical need only pull valley. Pellentesque developer of peanut soccer leakage.</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-3.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Julie Smart</h4>
                                    <h5>CEO Enterprise</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <h3>“Simply professionals”</h3>
                            <p>We are never given a lot of hatred of the porch is a great effic iturut. Kids should am and earth afternoon. We are never given the hatred vestibul.Cras ex mauris, pretium sit amet ornare eget, dignissim et turpis. And now the biggest drop, or receives consumer. Unfortunately, the element will move from clinical antioxidants makeup. Or more for what it was. However, to laughter from the clinical need only pull valley. Pellentesque developer of peanut soccer leakage.</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Maria Smith</h4>
                                    <h5>CEO Enterprise</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--================End Testimonials Slider Area =================-->
        
        <!--================We Are Company Area =================-->
        <section class="we_company_area p_100">
            <div class="container">
                <div class="row company_inner">
                    <div class="col-lg-6">
                        <div class="left_company_text">
                            <div class="l_title">
                                <img src="{% static 'streamer/img/icon/title-icon.png' %}" alt="">
                                <h6>Discover the features</h6>
                                <h2>We are a <span>IT</span> based Company</h2>
                            </div>
                            <p>Cyber Krypts is a Startup with young and aspiring team of Four members. All got there own and unique skills in the field of web design. Even though we are new, Our team has experince in projects. We are available for hire in the wide range of products and We will also complete your unfinished projects. 24/7 Assisstance.  </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="company_skill">
                            <p> </p>
                            <div class="our_skill_inner">
                                <div class="single_skill">
                                    <h3>Development</h3>
                                    <div class="progress" data-value="70">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">70</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Design</h3>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>SEO</h3>
                                    <div class="progress" data-value="85">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">85</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Web Pen-Testing</h3>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Management</h3>
                                    <div class="progress" data-value="75">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">75</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End We Are Company Area =================-->
        
        <!--================End We Are Company Area =================-->
        <section class="talk_area">
            <div class="container">
                <div class="talk_text">
                    <h4>Are you ready to talk?</h4>
                    <a href="mailto:cyberkrypts@gmail.com">cyberkrypts@gmail.com</a>
                </div>
            </div>
        </section>
        <!--================End We Are Company Area =================-->
        
       {% endblock %}