{% extends "streamer/base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
{% load static %}

<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>Blog</h2>
            <p>Read the Articles</p>
        </div>
    </div>
</section>

<!--================Blog Main Area =================-->
<section class="blog_main_area p_100">
    <div class="container">
        {% if category_view %}
        <h3 class="mb-4">
            Category : {{ category_view }}
        </h3>
        {% elif  search_result_zero %}
        <h3 class="mb-4"></h3>
        <h3>
            No results found.
        </h3>
        {% elif search %}
        <h3 class="mb-4">
            Search results for {{ search }} ({{ search_count }})
        </h3>

        {% elif tag_view %}
        <h3 class="mb-4">
            Posts with tag {{ tag_view }} ({{ search_count }})
        </h3>
        {% endif %}

        <div class="row">
            <div class="col-lg-9">
                <div class="blog_main_inner">
                    {% for post in posts %}
                    <div class="blog_main_item">
                        <div class="blog_img">
                            <img class="img-fluid" src="/media/{{ post.title_img }}" alt="">
                            <div class="blog_date">
                                <h4>{{ post.created_day }}</h4>
                                <h5>{{ post.created_month }}, {{post.created_year}}</h5>
                            </div>
                        </div>
                        <div class="blog_text">
                            <a href="#">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <div class="blog_author">
                                <a href="#">By {{ post.author.user.username }}</a>
                            </div>
                            <p>{{ post.title_dics }}</p>
                            <a class="more_btn" href="{% url 'single_blog' post.slug %}">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog_right_sidebar">
                    <aside class="r_widget search_widget">
                        <form method="GET" action="{% url 'search_blog' %}" class="input-group">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </form>
                    </aside>
                    <aside class="r_widget categories_widget">
                        <div class="r_w_title">
                            <h3>Categories</h3>
                        </div>
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url 'category_blog' %}?c={{category.name}}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="r_widget tag_widget">
                        <div class="r_w_title">
                            <h3>Tags</h3>
                        </div>
                        <ul>
                            {% for tag in tags %}
                            <li><a href="{% url 'tag_blog' %}?t={{tag}}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="r_widget quote_widget">
                        <div class="r_w_title">
                            <h3>Quote</h3>
                        </div>
                        <img src="{% static 'streamer/img/icon/quote-icon.png' %}" alt="">
                        <p>Your website is the center of your digital eco-system, like a brick and mortar location, the
                            experience matters once a customer enters, just as much as the perception they have of you
                            before they walk through the door.</p>
                    </aside>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="pagination_area">
            <ul class="pagination">
                {% if is_paginated %}

                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a> </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}.</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}.</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>

        </nav>
    </div>
</section>
<!--================End Blog Main Area =================-->

{% endblock %}