{% extends "streamer/base.html" %}
{% load static %}

{% block content %}

<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>Blog</h2>
            <p>Read the Article</p>
        </div>
    </div>
</section>

<section class="blog_main_area p_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="single_blog_inner">
                    <div class="s_blog_main">
                        <div class="blog_img">
                            <img class="img-fluid" src="/media/{{ post.title_img }}" alt="">
                            <div class="blog_date">
                                <h4>{{ post.created_day }}</h4>
                                <h5>{{ post.created_month }}, {{post.created_year}}</h5>
                            </div>
                        </div>
                        <div class="blog_text">
                            <a href="#">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <div class="blog_author">
                                <a href="#">By {{ post.author.user.username }}</a>
                            </div>
                            {{ post.content | safe }}
                        </div>
                    </div>
                    <div class="s_blog_social">
                        <h3>Share</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog_author">
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="/media/{{ post.author.profile }}" width="80"
                                    height="80" alt="">
                            </div>
                            <div class="media-body">
                                <h4>{{ post.author.user.username }}, <span>Author</span></h4>
                                <p> {{ post.author.discription }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog_comment">
                        <h3>Comments ({{ comment_count }})</h3>
                        {% for comment in comments %}
                        <div class="media">
                            <div class="d-flex">
                                <h4>{{ comment.name }}</h4>
                                <h5>{{comment.created_month}} {{ comment.created_day}}, {{ comment.created_year }}
                                </h5>
                            </div>
                            <div class="media-body">
                                <p>{{ comment.message }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="blog_comment_form">
                        <h3>Leave a comment</h3>
                        <form class="row contact_us_form" action="{% url 'single_blog' post.id %}" method="post"
                            id="contactForm" novalidate="novalidate">
                            <div class="col-sm-12">
                                {% if form_error %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <ul>
                                        {% for error in form_error %}
                                        <li> {{ error  }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            {% csrf_token %}
                            <div class="form-group col-sm-6">
                                {{ form.name }}
                            </div>
                            <div class="form-group col-sm-6">
                                {{ form.email }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form.subject }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form.message }}
                            </div>
                            <div class="form-group col-sm-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog_right_sidebar">
                    <aside class="r_widget search_widget">
                        <form method="GET" action="{% url 'search_blog' %}" class="input-group">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </form>
                    </aside>
                    <aside class="r_widget categories_widget">
                        <div class="r_w_title">
                            <h3>Categories</h3>
                        </div>
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url 'category_blog' %}?c={{category.name}}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="r_widget tag_widget">
                        <div class="r_w_title">
                            <h3>Tags</h3>
                        </div>
                        <ul>
                            {% for tag in tags %}
                            <li><a href="{% url 'tag_blog' %}?t={{tag}}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="r_widget quote_widget">
                        <div class="r_w_title">
                            <h3>Quote</h3>
                        </div>
                        <img src="{% static 'streamer/img/icon/quote-icon.png' %}" alt="">
                        <p>We don't just sell websites, we create websites that SELL.</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}